# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.

config OPLUS_FEATURE_SIGKILL_DIAGNOSIS
	tristate "sigkill diagnosis driver"
	default n
	help
	  assist sigkill diagnosis. record kill reason category for athena
